<?xml version="1.0"?>
<startpage version="2.0">
	<strings>
	<!-- list all strings used-->	
		<!-- used for default content when no internet connection is detected -->
		<productname>Adobe® TV</productname>
		<nointernethead>^p</nointernethead>
		<nointernetmain>Tune in to your online source for expert tutorials, insight, and inspiration.</nointernetmain>
	</strings>
	<resources>
	<!-- list of image resources -->
		<iconappxl>ai_appicon_xl.png</iconappxl>	
	</resources>
</startpage>